*.jpg
*.png
*.*~
*.py~
*.txt
*.pyc
*.html
*.pdf
downloadpics_*.*
downloadpicsTest*.*
downloadpicstoday.*
downloadpicsyesterday*.*
sleep.*
charts/
charts2/
charts2_old/
CWB/
hq/
hs1o/
hs1p/
hs1q/
hsao/
rainfall1/
rainfall2/
references/
s0o/
s0p/
s0q/
satellite*/
sco/
temp/
temperature/
videos/

